.abt__title {
  padding: 1.5rem 0 1rem 1rem;
  font-size: 1.5rem;
}

.music {
  &__img {
    width: 100vw;
    height: 55vw;
    padding: 0 1rem 1rem 1rem;
  }

  &__quote {
    padding: 0 1rem 0.5rem 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    font-size: 0.875rem;
  }

  &__cite {
    color: #323232;
    padding: 0 1rem 1rem 1rem;
    font-weight: 700;
    font-size: 0.875rem;
  }

  &__title {
    padding: 1rem 0 1rem 1rem;
    font-size: 0.875rem;
    font-weight: 700;
  }

  &__p {
    padding: 0 1rem 1rem 1rem;
    font-size: 0.813rem;
    line-height: 1.125rem;
  }
}
