.footer {
  background-color: #323232;
  font-weight: 400;
}

.primary {
  font-size: 0.875rem;
  &__title {
    padding-top: 1.5rem;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    color: #fff;
    line-height: 1.125rem;
  }

  &__icons {
    display: flex;
    padding: 0.5rem 0;
  }

  &__img {
    padding-left: 1rem;
    height: 1.5rem;
  }
  &__img--insta {
    padding-left: 1.2rem;
  }
  &__img--face {
    padding-left: 1.5rem;
  }
  &__img--twit {
    padding-left: 1.5rem;
  }

  &__cont {
    padding: 0 0 1rem 0;
  }

  &__cards {
    padding: 0 0 0 1rem;
  }

  &__card {
    padding: 0 0 2rem 0;
  }

  &__info--name {
    font-weight: 600;
  }

  &__info {
    color: #fff;
    font-style: normal;
    padding: 0 0 0.2rem;
  }

  &__info--email {
    padding: 0;
  }
}

.secondary {
  padding: 2rem 0 1rem 1rem;
}

.tertiary {
  font-size: 0.625rem;
  color: #fff;
  padding: 0 0 1rem 1rem;
}
