@use './mixins' as *;
@use './variables' as *;

.footer {
  background-color: #323232;
  font-weight: 400;
  font-size: 0.875rem;

  @include tablet {
    height: 50vw;
    position: relative;
  }
}

.primary {
  @include tablet {
    padding-bottom: 4.5rem;
  }
  &__title {
    padding: 1.5rem 0 1rem 1rem;
    font-size: 1.5rem;
    color: #fff;
    line-height: 1.125rem;

    @include tablet {
      font-size: 2.25rem;
      padding: 4rem 0 1.5rem 2rem;
    }
  }

  &__icons {
    display: flex;
    padding: 0.5rem 0;

    @include tablet {
      position: absolute;
      top: 3.5rem;
      left: 16rem;
    }
  }

  &__img {
    padding-left: 1rem;
    height: 1.5rem;

    @include tablet {
      align-content: right;
      padding-right: 0.5rem;
    }
  }
  &__img--insta {
    padding-left: 1.2rem;
  }
  &__img--face {
    padding-left: 1.5rem;
  }
  &__img--twit {
    padding-left: 1.5rem;
  }

  &__cont {
    padding: 0 0 1rem 0;
  }

  &__cards {
    padding: 0 0 0 1rem;

    @include tablet {
      display: flex;
      flex-direction: row;
      padding: 0 0 0 2rem;
    }
  }

  &__card {
    padding: 0 0 2rem 0;

    @include tablet {
      padding: 0 3rem 0 0;
    }
  }

  &__info--name {
    font-weight: 600;
  }

  &__info {
    color: #fff;
    font-style: normal;
    padding: 0 0 0.2rem;

    @include tablet {
      padding: 0.5rem 0 0 0;
    }
  }

  &__info--email {
    padding: 0;

    @include tablet {
      padding: 0.5rem 0 0 0;
    }
  }

  &__logo {
    padding: 2rem 0 1rem 0;

    @include tablet {
      position: absolute;
      top: 2.2rem;
      right: 2rem;
    }
  }

  &__copyright {
    font-size: 0.625rem;
    color: #fff;
    padding: 0 0 1rem 0;

    @include tablet {
      position: absolute;
      font-size: 0.875rem;
      font-weight: 400;
      padding: 0;
      top: 20.5rem;
    }
  }
}
