@use './fonts' as *;

.header {
  background-color: #323232;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
}

.nav__img-link {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 1rem;
}

.nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  width: 100%;
}

.nav__link:active {
  font-weight: 700;
  border-bottom: 5px solid white;
  width: 100%;
  padding: 0 0 1rem 0;
}

.nav__link:hover {
  border-bottom: 4px solid #fff;
}

.nav__link--first {
  font-weight: 400;
  border-bottom: 4px solid white;
  width: 100%;
  padding: 0 0 1rem 0;
}

.nav__link--second {
  padding: 0 0 1rem 0;
  color: #afafaf;
}
