@use './fonts' as *;

.header {
  background-color: #323232;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
}

.nav__img-link {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 3rem;
}

.nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  width: 100%;
}

.nav__link:active {
  font-weight: 700;
  border-bottom: 5px solid white;
  width: 100%;
  padding: 0 0 1rem 0;
}

.nav__link--first {
  font-weight: 700;
  border-bottom: 5px solid white;
  width: 100%;
  padding: 0 0 1rem 0;
}

.nav__link--second {
  padding: 0 0 1rem 0;
}
