@use './variables' as *;
@use './mixins' as *;

.hero {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
    url("../../assets/Images/hero-bio.jpg") no-repeat;
  background-size: cover;
  height: 65vw;
  width: 100vw;
  display: flex;

  @include tablet {
    height: 59vw;
  }

  &__title {
    color: $main-font-color;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding-left: 5vw;

    @include tablet {
      font-size: 4rem;
      font-weight: 600;
    }
  }
}

/***********************
HERO FOR SHOWS
***********************/

.hero-shows {
  @extend .hero;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
    url("../../assets/Images/hero-shows.jpg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 75%;

  @include tablet {
    height: 63vw;
    background-position: center;
  }

  &__title {
    @extend .hero__title;
    font-weight: 400;
    font-size: 0.85rem;
    margin: 3rem 0 1rem 0;

    @include tablet {
      font-size: 1.53rem;
      padding-top: 1rem;
      margin-bottom: 0;
    }
  }

  &__song {
    @extend .hero__title;
    font-weight: 600;
    margin: 0 0 1rem 0;

    @include tablet {
      font-size: 3.7rem;
      padding-top: 0.5rem;
    }
  }
}

iframe {
  margin: 0 1rem 2rem 1rem;
  height: 30vw;

  @include tablet {
    height: 25%;
    width: 50%;
    margin-top: 1.5rem;
    margin-left: 2.5rem;
  }
}
