@use './variables' as *;
@use './mixins' as *;

.hero {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
    url("../../assets/Images/hero-bio.jpg") no-repeat;
  background-size: cover;
  height: 65vw;
  width: 100vw;

  @include tablet {
    height: 59vw;
  }

  &__title {
    color: #fff;
    font-size: 1.5rem;
    padding-top: 27vw;
    padding-left: 5vw;

    @include tablet {
      font-size: 4rem;
      font-weight: 600;
    }
  }
}
