@use './variables' as *;
@use './mixins' as *;

.comments {
  &__title {
    padding: 1.5rem 0 1.5rem 0.5rem;
    font-size: 1.5rem;

    @include tablet {
      font-size: 2.25rem;
      margin: 1rem 0 0 1rem;
    }

    @include desktop {
      margin-left: 8rem;
    }
  }

  &__img {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    margin: 1rem 1rem 0 1rem;
    position: absolute;

    @include tablet {
      width: 3rem;
      height: 3rem;
      margin-left: 6rem;
    }

    @include desktop {
      margin-left: 23.5rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin: 0 0.75rem;

    @include tablet {
      margin: 0 5.5rem;
    }

    @include desktop {
      margin-left: 23.5rem;
      margin-right: 25rem;
    }
  }

  &__name {
    color: #afafaf;
    font-size: 0.625rem;
    margin-left: 3.5rem;
    margin-bottom: 0.25rem;

    @include tablet {
      font-size: 0.8rem;
      margin-left: 5.5rem;
    }
    @include desktop {
      margin-left: 4.5rem;
    }
  }

  &__name-insert {
    height: 2.25rem;
    width: 80%;
    margin-left: 3.5rem;
    margin-bottom: 1rem;
    border-color: #e1e1e1;
    border-radius: 4px;
    resize: none;

    @include tablet {
      height: 3rem;
      margin-left: 5.5rem;
      width: 85%;
    }
    @include desktop {
      margin-left: 4.5rem;
    }
  }

  &__name-insert::placeholder {
    color: #323232;
    padding-top: 0.5rem;
    padding-left: 0.5rem;

    @include tablet {
      padding-top: 1rem;
      padding-left: 1rem;
    }
  }

  &__name-insert:focus {
    @include textOutline;
  }

  &__comment {
    color: #afafaf;
    font-size: 0.625rem;
    margin-left: 3.5rem;
    margin-bottom: 0.25rem;

    @include tablet {
      font-size: 0.8rem;
      margin-left: 5.5rem;
    }

    @include desktop {
      margin-left: 4.5rem;
    }
  }

  &__comment-insert {
    height: 2.25rem;
    width: 80%;
    margin-left: 3.5rem;
    height: 30vw;
    margin-bottom: 1rem;
    border-color: #e1e1e1;
    border-radius: 4px;
    resize: none;

    @include tablet {
      height: 6rem;
      margin-left: 5.5rem;
      width: 85%;
    }

    @include desktop {
      margin-left: 4.5rem;
    }
  }

  &__comment-insert:focus {
    @include textOutline;
  }

  &__comment-insert::placeholder {
    color: #323232;
    padding: 0.5rem 0 0 0.5rem;

    @include tablet {
      padding: 1rem 0 0 1rem;
    }
  }

  &__btn {
    width: 80%;
    margin: 0 0 1.5rem 3.5rem;

    height: 2.35rem;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: #323232;
    border-style: hidden;
    border-radius: 4px;

    @include tablet {
      width: 25%;
      margin-left: 25.6rem;
      margin-top: 1rem;
    }

    @include desktop {
      margin-left: 23.5rem;
    }
  }
}

//validation error colors

.comments__validate {
  border: 1px solid red;
}

/**********************
COMMENTS POSTED
*********************/

.comments {
  &__posted {
    margin-bottom: 1rem;
    padding-top: 0;

    @include tablet {
      margin: 0 4.5rem 2rem 4.5rem;
    }

    @include desktop {
      margin-left: 22.5rem;
      margin-right: 24rem;
    }
  }

  &__pic-container {
    height: 0;
  }
  &__posted-user-img {
    height: 36px;
    width: 36px;
    background-color: #e1e1e1;
    border-radius: 50%;
    border: 0;
    margin-top: 1rem;
    margin-left: 1rem;

    @include tablet {
      width: 3rem;
      height: 3rem;
      display: inline-flex;
      margin-top: 2rem;
    }
  }

  &__container {
    margin-top: 1rem;

    @include tablet {
      margin-top: 2rem;
    }
  }
  &__name-date-container {
    display: flex;
    justify-content: space-between;
  }

  &__user-name {
    margin-left: 4rem;
    margin-right: 1rem;
    font-size: 0.813rem;
    font-weight: 600;
    margin-bottom: 0.5rem;

    @include tablet {
      margin-left: 5rem;
      font-size: 0.9rem;
    }
  }
  &__user-comment {
    margin-left: 4rem;
    margin-right: 1rem;
    font-size: 0.813rem;
    line-height: 1rem;
    margin-bottom: 1rem;

    @include tablet {
      margin-left: 5rem;
      margin-bottom: 2rem;
      font-size: 0.9rem;
      line-height: 1.5rem;
    }
  }

  &__date-posted {
    color: #afafaf;
    font-size: 0.813rem;
    margin-right: 1.2rem;

    @include tablet {
      font-size: 0.9rem;
    }
  }

  &__divider {
    margin: 0 1rem;
    color: #e1e1e1;
    padding: 0;
  }
}
