*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "AvenirNext LT Pro";
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/Font/transfonter/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/Font/transfonter/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/Font/transfonter/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/Font/transfonter/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/Font/transfonter/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/Font/transfonter/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.header {
  background-color: #323232;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
  }
}
.nav__img-link {
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .nav__img-link {
    margin-right: 4rem;
    margin-left: 2rem;
  }
}
@media (min-width: 1280px) {
  .nav__img-link {
    margin-left: 8rem;
  }
}
.nav__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .nav__list {
    display: flex;
    font-size: 0.9rem;
  }
}
.nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
@media (min-width: 768px) {
  .nav__item {
    margin-top: 1rem;
    text-align: center;
  }
}
.nav__link {
  color: #fff;
  text-decoration: none;
  width: 100%;
}
@media (min-width: 768px) {
  .nav__link {
    margin-right: 3.65rem;
  }
}
@media (min-width: 1280px) {
  .nav__link {
    margin-right: 2rem;
  }
}
.nav__link:active {
  font-weight: 700;
  border-bottom: 4px solid white;
  width: 100%;
  padding: 0 0 1rem 0;
}
.nav__link:hover {
  border-bottom: 4px solid #fff;
}
@media (min-width: 768px) {
  .nav__link:hover {
    border-bottom: 3px solid #fff;
  }
}

.nav__link--first {
  font-weight: 400;
  border-bottom: 4px solid white;
  width: 100%;
  padding: 0 0 1rem 0;
}
@media (min-width: 768px) {
  .nav__link--first {
    padding: 0.4rem 0 1.3rem 0;
    border-bottom: 3px solid white;
  }
}

.nav__link--second {
  padding: 0 0 1rem 0;
  color: #afafaf;
}
@media (min-width: 768px) {
  .nav__link--second {
    padding: 0.4rem 0 1.3rem 0;
  }
}

.hero {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../../assets/Images/hero-bio.jpg") no-repeat;
  background-size: cover;
  height: 65vw;
  width: 100vw;
  display: flex;
}
@media (min-width: 768px) {
  .hero {
    height: 59vw;
  }
}
.hero__title {
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding-left: 5vw;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 4rem;
    font-weight: 600;
  }
}

.abt__title {
  padding: 2rem 0 1rem 1rem;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .abt__title {
    font-size: 2.25rem;
    font-weight: 600;
    margin: 1rem 0 0 1.5rem;
  }
}
@media (min-width: 1280px) {
  .abt__title {
    margin-left: 7rem;
  }
}

.music {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .music {
    display: flex;
    flex-direction: column;
  }
}
.music__img {
  width: 100vw;
  height: 55vw;
  padding: 0 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .music__img {
    margin: 1rem 0 0 0;
    align-self: center;
    width: calc(85% - 2rem);
    height: 43vw;
  }
}
@media (min-width: 1280px) {
  .music__img {
    align-self: center;
    width: calc(70% - 2rem);
  }
}
@media (min-width: 768px) {
  .music__excerpt {
    text-align: left;
    margin-left: 5rem;
    margin-right: 4.5rem;
  }
}
@media (min-width: 1280px) {
  .music__excerpt {
    margin-left: 13rem;
    margin-right: 24rem;
    text-align: left;
  }
}
.music__quote {
  padding: 0 1.3rem 0.5rem 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  font-size: 0.875rem;
}
@media (min-width: 768px) {
  .music__quote {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
.music__cite {
  color: #323232;
  padding: 0 1rem 1rem 1rem;
  font-weight: 700;
  font-size: 0.875rem;
}
@media (min-width: 768px) {
  .music__cite {
    font-size: 1rem;
  }
}
.music__title {
  padding: 1.75rem 0 1.2rem 1rem;
  font-size: 0.875rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .music__title {
    margin-left: 5rem;
    font-size: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .music__title {
    margin-left: 13rem;
  }
}
.music__info {
  margin-left: 0 1rem;
}
@media (min-width: 768px) {
  .music__info {
    display: flex;
    margin: 0 2.5rem 0 5rem;
  }
}
@media (min-width: 1280px) {
  .music__info {
    margin-left: 13rem;
    margin-right: 11rem;
  }
}
.music__p {
  padding: 0 1rem 1rem 1rem;
  font-size: 0.813rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .music__p {
    margin-right: 2rem;
    line-height: 1.4rem;
  }
}

.photos {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  padding: 0 0 1.2rem 0;
}
@media (min-width: 768px) {
  .photos {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }
}
.photos__title {
  padding: 1.5rem 0 1.5rem 1rem;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .photos__title {
    font-size: 2.25rem;
    margin: 1rem 0 0 1rem;
  }
}
@media (min-width: 1280px) {
  .photos__title {
    margin-left: 7rem;
  }
}
.photos__img {
  filter: grayscale(100%);
  width: 100vw;
  height: 55vw;
  padding: 0 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .photos__img {
    padding: 0.6rem 0.5rem;
    width: calc(33.333% - 1rem);
    height: auto;
  }
}
@media (min-width: 1280px) {
  .photos__gallery {
    margin: 0 6.5rem;
  }
}
.photos__img:hover {
  filter: none;
  transition-delay: 0.1s;
}

.footer {
  background-color: #323232;
  font-weight: 400;
  font-size: 0.875rem;
}
@media (min-width: 768px) {
  .footer {
    height: 50vw;
    position: relative;
  }
}
@media (min-width: 1280px) {
  .footer {
    height: 30vw;
  }
}

@media (min-width: 768px) {
  .primary {
    padding-bottom: 4.5rem;
  }
}
.primary__title {
  padding: 1.5rem 0 1rem 1rem;
  font-size: 1.5rem;
  color: #fff;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .primary__title {
    font-size: 2.25rem;
    padding: 4rem 0 1.5rem 2rem;
  }
}
.primary__icons {
  display: flex;
  padding: 0.5rem 0;
}
@media (min-width: 768px) {
  .primary__icons {
    position: absolute;
    top: 3.5rem;
    left: 16rem;
  }
}
@media (min-width: 1280px) {
  .primary__icons {
    position: absolute;
    top: 3.5rem;
    left: 23rem;
  }
}
.primary__img {
  padding-left: 1rem;
  height: 1.5rem;
}
@media (min-width: 768px) {
  .primary__img {
    align-content: right;
    padding-right: 0.5rem;
  }
}
.primary__img--insta {
  padding-left: 1.2rem;
}
.primary__img--face {
  padding-left: 1.5rem;
}
.primary__img--twit {
  padding-left: 1.5rem;
}
.primary__cont {
  padding: 0 0 1rem 0;
}
.primary__cards {
  padding: 0 0 0 1rem;
}
@media (min-width: 768px) {
  .primary__cards {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 2rem;
  }
}
.primary__card {
  padding: 0 0 2rem 0;
}
@media (min-width: 768px) {
  .primary__card {
    padding: 0 3rem 0 0;
  }
}
.primary__info--name {
  font-weight: 600;
}
.primary__info {
  color: #fff;
  font-style: normal;
  padding: 0 0 0.2rem;
}
@media (min-width: 768px) {
  .primary__info {
    padding: 0.5rem 0 0 0;
  }
}
.primary__info--email {
  padding: 0;
}
@media (min-width: 768px) {
  .primary__info--email {
    padding: 0.5rem 0 0 0;
  }
}
.primary__logo {
  padding: 2rem 0 1rem 0;
}
@media (min-width: 768px) {
  .primary__logo {
    position: absolute;
    top: 2.2rem;
    right: 2rem;
  }
}
@media (min-width: 1280px) {
  .primary__logo {
    position: absolute;
    top: 2.2rem;
    right: 8rem;
  }
}
.primary__copyright {
  font-size: 0.625rem;
  color: #fff;
  padding: 0 0 1rem 0;
}
@media (min-width: 768px) {
  .primary__copyright {
    position: absolute;
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0;
    top: 20.5rem;
  }
}
@media (min-width: 1280px) {
  .primary {
    margin-left: 7rem;
  }
}

/** mobile: 320, tablet: 768, desktop: 1280*//*# sourceMappingURL=bio.css.map */