*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "AvenirNext LT Pro";
  font-size: 16px;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/Font/transfonter/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/Font/transfonter/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/Font/transfonter/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/Font/transfonter/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/Font/transfonter/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/Font/transfonter/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.header {
  background-color: #323232;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
}

.nav__img-link {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 3rem;
}

.nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  width: 100%;
}

.nav__link:active {
  font-weight: 700;
  border-bottom: 5px solid white;
  width: 100%;
  padding: 0 0 1rem 0;
}

.nav__link--first {
  font-weight: 700;
  border-bottom: 5px solid white;
  width: 100%;
  padding: 0 0 1rem 0;
}

.nav__link--second {
  padding: 0 0 1rem 0;
}

.hero {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../../assets/Images/hero-bio.jpg") no-repeat;
  background-size: cover;
  height: 60vw;
  width: 100vw;
}
.hero__title {
  color: #fff;
  font-size: 1.5rem;
  padding-top: 27vw;
  padding-left: 5vw;
}

.abt__title {
  padding-top: 1.5rem;
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.music__img {
  width: 100vw;
  height: 55vw;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.music__quote {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  line-height: 1.375rem;
  font-size: 0.875rem;
}

.music__cite {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  font-size: 0.875rem;
}

.music__title {
  padding-left: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  font-weight: 600;
}

.music__p {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  font-size: 0.813rem;
  line-height: 1.125rem;
}

.photos {
  background-color: #fafafa;
}
.photos__title {
  padding-top: 1.5rem;
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
.photos__img {
  width: 100vw;
  height: 55vw;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.footer {
  background-color: #323232;
  font-size: 0.813rem;
}

.primary__title {
  padding-top: 1.5rem;
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  color: #fff;
}
.primary__icons {
  display: flex;
}
.primary__img {
  padding-left: 1rem;
  height: 1.5rem;
}
.primary__img--insta {
  padding-left: 1.2rem;
}
.primary__img--face {
  padding-left: 1.5rem;
}
.primary__img--twit {
  padding-left: 1.5rem;
}
.primary__cont {
  padding: 0 0 1rem 0;
}
.primary__cards {
  padding: 0 0 0 1rem;
}
.primary__card {
  padding: 0 0 2rem 0;
}
.primary__info--name {
  font-weight: 600;
}
.primary__info {
  color: #fff;
  font-style: normal;
  padding: 0 0 0.2rem;
}
.primary__info--email {
  padding: 0;
}

.secondary {
  padding: 2rem 0 1rem 1rem;
}

.tertiary {
  color: #fff;
  padding: 0 0 1rem 1rem;
}/*# sourceMappingURL=bio.css.map */